
header p{
    color: white;
    font-weight: 600;
}
section, footer{
    margin: 40px;
}

h1{
    font-size: 63px;
    color: #303030;
    padding: 15px;
    color: white;
    text-align: center;
}
h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 50px;
    color: beige;
    text-shadow: 2px 2px 2px rgb(224, 131, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar-brand h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: beige;
    text-decoration: dotted;
}
